/* Global styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Light gray background */
}


.create-mockup-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd; /* Light border */
  background-color: #fff; /* White background for task sections */
}

.create-mockup-task h2 {
  margin: 0;
  color: #333; /* Dark gray for text */
}

.create-mockup-task button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #007bff; /* Blue for buttons */
  color: #fff; /* White text for buttons */
}

.create-mockup-task button:hover {
  background-color: #0069d9; /* Darker blue on hover */
}

/* same as Create Mockup Task */

.create-static-layout-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.create-static-layout-task h2 {
  margin: 0;
  color: #333;
}

.create-static-layout-task button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.create-static-layout-task button:hover {
  background-color: #0069d9;
}



.add-interactivity-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.add-interactivity-task h2 {
  margin: 0;
  color: #333;
}

.add-interactivity-task button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #28a745; 
  color: #fff;
}

.add-interactivity-task button:hover {
  background-color: #218c3d; 
}
